@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
.bundle{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 300px;
  padding: 200px 0;
}
.bundle-head{
  font-size: 2.6rem;
    font-weight: 200;
    font-family: 'Concert One', cursive;
    color: #f0f0f0;
    margin-bottom: 20px;
}
.pc-bundle {
  width: 60%;
  height: 350px;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  background: rgba(73, 69, 69, 0.2);;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.ball_container_sB {

  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 16em);
  width: 32em;
  white-space: nowrap;
  text-align: center;
}
.loading_ball {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  transform: translate(-4em,0%) scale(0);
  opacity: 0;
  animation: 4500ms linear infinite visible_orbit;
}
._a{
background: url(https://f.nooncdn.com/p/v1692599587/N53429237A_1.jpg);
background-size:cover;
}
._b{
background: url(https://f.nooncdn.com/p/pzsku/Z77E5CED9CC200662864BZ/45/_/1685605913/bc1e9bf7-d404-4744-b15c-f97f33fedf53.jpg);
background-size:cover;

}
._c{
background:url(https://f.nooncdn.com/p/v1548738129/N20640432A_1.jpg);
background-size:cover;
}
.loading_ball._b { z-index: 1; animation-delay: 1500ms; }
.loading_ball._c { z-index: 1; animation-delay: 3000ms; }

@keyframes visible_orbit {

  0% { transform: translate(-4em,0%) scale(0); opacity: 0; }
  25% { transform: translate(-8em,0%) scale(1); opacity: 1; }
  50% { transform: translate(12em,0%) scale(1.5); opacity: 1; }
  75% { transform: translate(32em,0%) scale(1); opacity: 1; }
  100% { transform: translate(24em,0%) scale(0); opacity: 0; }
}
.bicycle-bundle{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-direction: column;
  width: 60%;
  height:530px;
  padding-bottom: 100px;
  background: rgba(73, 69, 69, 0.2);;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.wheel {
  height: 400px;
  width: 400px;
  border: 2px solid white;
  border-radius: 50%;
  animation-name: wheel;
 /* used to link a @keyframes rule to a CSS selector*/
  animation-duration: 20s;
 /*is used to set how long the animation should sequence to complete*/
  animation-iteration-count: infinite;
 /*sets how many times your animation should repeat*/
  animation-timing-function: linear;
 /*sets how the animation should progress over time*/
}
/*Lines*/
/*Line1*/
.line {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: white;
  width: 50%;
  height: 2px;
  transform-origin: 0% 0%;
 /*determines around which point the element is rotated.offset the origin point by 0% from the left and 0% from the*/
}
/*Line2*/
/*target second line*/
.line:nth-of-type(2) {
  transform: rotate(60deg);
 /*will rotate the element around its transform-origin*/
}
/*Line3*/
.line:nth-of-type(3) {
  transform: rotate(120deg);
}
/*Line4*/
.line:nth-of-type(4) {
  transform: rotate(180deg);
}
/*Line5*/
.line:nth-of-type(5) {
  transform: rotate(240deg);
}
/*Line6*/
.line:nth-of-type(6) {
  transform: rotate(300deg);
}
/*Cabins*/
.cabin {
  width: 20%;
  height: 20%;
  position: absolute;
  border: 2px solid;
  border-radius: 5%;
  transform-origin: 50% 0%;
 /*placing it in the middle of the top edge of the element*/
  animation: cabins 20s ease-in-out infinite;
}
/*Select the cabines*/
/*Cabin1*/
.cabin:nth-of-type(1) {
 /*positions the cabins around the wheel*/
 background: url('https://f.nooncdn.com/p/pzsku/Z7624D9B7B97CFB9D746AZ/45/_/1657158008/4e91dc3e-b0c7-432b-9721-ddd969f346ad.jpg');
 background-size: cover;
  right: -8.5%;
  top: 50%;
}
/*Cabin2*/
.cabin:nth-of-type(2) {
  background: url('https://f.nooncdn.com/p/v1603976669/N41664429A_1.jpg');
  background-size: cover;
  right: 17%;
  top: 93.5%;
}
/*Cabin3*/
.cabin:nth-of-type(3) {
  background: url('https://f.nooncdn.com/p/v1558802361/N24556523A_1.jpg');
  background-size: cover;
  right: 67%;
  top: 93.5%;
}
/*Cabin4*/
.cabin:nth-of-type(4) {
  background: url('https://f.nooncdn.com/p/v1603976580/N41664405A_1.jpg');
  background-size: cover;
  left: -8.5%;
  top: 50%;
}
/*Cabin5*/
.cabin:nth-of-type(5) {
  background: url('https://f.nooncdn.com/p/v1556022519/N24055330A_1.jpg');
  background-size: cover;
  left: 17%;
  top: 7%;
}
/*Cabin6*/
.cabin:nth-of-type(6) {
  background: url('https://f.nooncdn.com/p/v1595430527/N39413893A_1.jpg');
  background-size: cover;
  right: 17%;
  top: 7%;
}
/*Wheel Animation*/
/*@keyframes =>used to define the flow of a CSS animation */
@keyframes wheel {
  0% {
    transform: rotate(0deg);
   /*will start the animation with no rotation*/
 }
  100% {
    transform: rotate(360deg);
   /*animation will now complete a full rotation*/
 }
}
/*Cabins Animation*/
@keyframes cabins {
  0% {
    transform: rotate(0deg);
 }
  100% {
    transform: rotate(-360deg);
 }
}

.bulb-bundle{
  width: 60%;
  height: 650px;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  background: rgba(73, 69, 69, 0.2);;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
@keyframes circumferential-movement {
	 from {
		 transform: rotateZ(0) translateX(35vmin) rotateZ(0) rotateY(-70deg);
	}
	 to {
		 transform: rotateZ(360deg) translateX(35vmin) rotateZ(-360deg) rotateY(-70deg);
	}
}

 .core {
	 width: 5vmin;
	 height: 5vmin;
	 border-radius: 50%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 position: absolute;
	 background: firebrick;
	 background: radial-gradient(circle at 10px 10px, red, black);
}
 .orbit {
	 width: 70vmin;
	 height: 70vmin;
	 border-radius: 50%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 position: absolute;
	 border: 3px darkgrey solid;
	 transform-style: preserve-3d;
}
 .orbit .electron {
	 width: 8vmin;
	 height: 8vmin;
	 border-radius: 50%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 position: absolute;
	 animation: circumferential-movement linear infinite;
}
.e1{
background:url('https://f.nooncdn.com/p/v1545209450/N19905756A_2.jpg');
	background-size:cover;
}
.e2{
	background: url('https://f.nooncdn.com/p/v1567747839/N29729989A_1.jpg');
	background-size:cover;
}
.e3{
	background:url('https://f.nooncdn.com/p/v1599637454/N13597061A_1.jpg');
	background-size:cover;
}
 .orbit:nth-child(1) {
	 transform: rotateZ(60deg) rotateY(70deg);
}
 .orbit:nth-child(1) .electron {
	 animation-duration: 3.6s;
}
 .orbit:nth-child(2) {
	 transform: rotateZ(120deg) rotateY(70deg);
}
 .orbit:nth-child(2) .electron {
	 animation-duration: 3.7s;
}
 .orbit:nth-child(3) {
	 transform: rotateZ(180deg) rotateY(70deg);
}
 .orbit:nth-child(3) .electron {
	 animation-duration: 3.8s;
}
 