@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
.bundle{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 300px;
  padding: 200px 0;
}
.bundle-head{
  font-size: 2.6rem;
    font-weight: 200;
    font-family: 'Concert One', cursive;
    color: #f0f0f0;
    margin-bottom: 20px;
}
.pc-bundle {
  width: 60%;
  height: 350px;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  background: rgba(73, 69, 69, 0.2);;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.ball_container_sB {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 16em);
  width: 32em;
  white-space: nowrap;
  text-align: center;
}
.loading_ball {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  transform: translate(-4em,0%) scale(0);
  opacity: 0;
  animation: 9s linear infinite visible_orbit;
}
._a{
background: url(https://f.nooncdn.com/p/v1692599587/N53429237A_1.jpg);
background-size:cover;
}
._b{
background: url(https://f.nooncdn.com/p/pzsku/Z77E5CED9CC200662864BZ/45/_/1685605913/bc1e9bf7-d404-4744-b15c-f97f33fedf53.jpg);
background-size:cover;

}
._c{
background:url(https://f.nooncdn.com/p/v1548738129/N20640432A_1.jpg);
background-size:cover;
}
._d{
background:url(https://f.nooncdn.com/p/v1564134963/N28548686A_1.jpg);
background-size:cover;
}
._e{
background:url(https://f.nooncdn.com/p/v1629782655/N50302339A_1.jpg);
background-size:cover;
}
._f{
background:url(https://f.nooncdn.com/p/pzsku/Z6DD0308E2AD697E16CFAZ/45/_/1680249668/1ea5a92c-9352-4013-a6d1-a7adf9f9347f.jpg);
background-size:cover;
}
.loading_ball._b {
  z-index: 1;
  animation-delay: 1.5s;
}

.loading_ball._c {
  z-index: 1;
  animation-delay: 3s;
}

.loading_ball._d {
  z-index: 1;
  animation-delay: 4.5s;
}

.loading_ball._e {
  z-index: 1;
  animation-delay: 6s;
}

.loading_ball._f {
  z-index: 1;
  animation-delay: 7.5s;
}


@keyframes visible_orbit {

  0% { transform: translate(-4em,0%) scale(0); opacity: 0; }
  25% { transform: translate(-8em,0%) scale(1); opacity: 1; }
  50% { transform: translate(12em,0%) scale(1.5); opacity: 1; }
  75% { transform: translate(32em,0%) scale(1); opacity: 1; }
  100% { transform: translate(24em,0%) scale(0); opacity: 0; }
}

.bulb-bundle{
  width: 60%;
  height: 650px;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  background: rgba(73, 69, 69, 0.2);;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
@keyframes circumferential-movement {
	 from {
		 transform: rotateZ(0) translateX(35vmin) rotateZ(0) rotateY(-70deg);
	}
	 to {
		 transform: rotateZ(360deg) translateX(35vmin) rotateZ(-360deg) rotateY(-70deg);
	}
}

 .core {
	 width: 5vmin;
	 height: 5vmin;
	 border-radius: 50%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 position: absolute;
	 background: firebrick;
	 background: radial-gradient(circle at 10px 10px, red, black);
}
 .orbit {
	 width: 70vmin;
	 height: 70vmin;
	 border-radius: 50%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 position: absolute;
	 border: 3px darkgrey solid;
	 transform-style: preserve-3d;
}
 .orbit .electron {
	 width: 8vmin;
	 height: 8vmin;
	 border-radius: 50%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 position: absolute;
	 animation: circumferential-movement linear infinite;
}
.e1{
background:url('https://f.nooncdn.com/p/v1545209450/N19905756A_2.jpg');
	background-size:cover;
}
.e2{
	background: url('https://f.nooncdn.com/p/v1567747839/N29729989A_1.jpg');
	background-size:cover;
}
.e3{
	background:url('https://f.nooncdn.com/p/v1599637454/N13597061A_1.jpg');
	background-size:cover;
}
.e4{
	background:url('https://f.nooncdn.com/p/pzsku/Z48552F4DD11755C5C689Z/45/_/1674114724/3b27dab2-1cb1-4ffd-bff8-3ec1099e8236.jpg');
	background-size:cover;
}
 .orbit:nth-child(1) {
	 transform: rotateZ(30deg) rotateY(70deg);
}
 .orbit:nth-child(1) .electron {
	 animation-duration: 3.6s;
}
 .orbit:nth-child(2) {
	 transform: rotateZ(72deg) rotateY(70deg);
}
 .orbit:nth-child(2) .electron {
	 animation-duration: 3.7s;
}
 .orbit:nth-child(3) {
	 transform: rotateZ(108deg) rotateY(70deg);
}
 .orbit:nth-child(3) .electron {
	 animation-duration: 3.8s;
}
.orbit:nth-child(4) {
  transform: rotateZ(150deg) rotateY(70deg);
}
.orbit:nth-child(4) .electron {
  animation-duration: 3.9s;
}
