@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

.bundle-outer{
  display: flex;
}
/* .bundle{
  display: none;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 300px;
  padding: 200px 0;
}
.bundle-head{
  font-size: 2.6rem;
    font-weight: 200;
    font-family: 'Concert One', cursive;
    color: #f0f0f0;
    margin-bottom: 20px;
} */
.bundle-main-product{
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.atom {
  position: absolute;
  display: flex;
  margin-top: 30px;
  width: 200px;
  height: 200px;
  align-items: center;
  justify-content: center;
  animation: rotateatom 400s linear infinite alternate;
  /* opacity: 80%; */
}

.nucleus{
  z-index: 1;
  width: 100px;
  height: 100px;
  position:absolute;
  border-radius:50%;
}

.bundle-image{
  width:100px;
  height:100px;
  position:absolute;
  border-radius:50%;
  animation: imageFade 2s infinite linear;
}

@keyframes imageFade {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.bundle-div{
  line-height: 0px;
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: 'Concert One', cursive;
  width: 210px;
  height: 210px;
  padding: 20px;
  position:absolute;
  background: rgba(73, 69, 69, 0.2);;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.electron{
  width: 20px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  position: relative;
  top: 30%;
}

.line {
  width: 95%;
  height: 95%;
  position: absolute;
  border-radius: 50%;
}
  
.line-1 {
  --color: #74727b;
  border-left: 10px solid var(--color);
  border-top: 10px solid var(--color);
  border-bottom: 10px solid var(--color);
  animation: line1 3s linear infinite forwards;
  filter: drop-shadow(0 0 10px var(--color));
}

@keyframes line1 {
  0% {
    transform: rotateY(99deg) rotateZ(0deg);
  }
  100% {
    transform: rotateY(99deg) rotateZ(360deg);
  }
}


.line-2 {
  --color: #74727b;
  border-left: 10px solid var(--color);
  border-top: 10px solid var(--color);
  border-bottom: 10px solid var(--color);
  animation: line2 3s linear infinite forwards;
  filter: drop-shadow(0 0 10px var(--color));
}

@keyframes line2 {
  0% {
    transform: rotateX(80deg) rotateY(30deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(80deg) rotateY(30deg) rotateZ(360deg);
  }
}


.line-3 {
  --color: #74727b;
  border-left: 10px solid var(--color);
  border-top: 10px solid var(--color);
  border-bottom: 10px solid var(--color);
  animation: line3 3s linear infinite forwards;
  filter: drop-shadow(0 0 10px var(--color));
}

@keyframes line3 {
  0% {
    transform: rotateX(-80deg) rotateY(30deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(-80deg) rotateY(30deg) rotateZ(360deg);
  }
}

@keyframes rotateatom {
  from{
    transform: rotateX(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
/* .pc-bundle {
  width: 60%;
  height: 350px;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  background: rgba(73, 69, 69, 0.2);;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.ball_container_sB {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 16em);
  width: 32em;
  white-space: nowrap;
  text-align: center;
}
.loading_ball {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 8em;
  height: 8em;
  border-radius: 50%;
  transform: translate(-4em,0%) scale(0);
  opacity: 0;
  animation: 9s linear infinite visible_orbit;
}
._a{
background: url(https://f.nooncdn.com/p/v1692599587/N53429237A_1.jpg);
background-size:cover;
}
._b{
background: url(https://f.nooncdn.com/p/pzsku/Z77E5CED9CC200662864BZ/45/_/1685605913/bc1e9bf7-d404-4744-b15c-f97f33fedf53.jpg);
background-size:cover;

}
._c{
background:url(https://f.nooncdn.com/p/v1548738129/N20640432A_1.jpg);
background-size:cover;
}
._d{
background:url(https://f.nooncdn.com/p/v1564134963/N28548686A_1.jpg);
background-size:cover;
}
._e{
background:url(https://f.nooncdn.com/p/v1629782655/N50302339A_1.jpg);
background-size:cover;
}
._f{
background:url(https://f.nooncdn.com/p/pzsku/Z6DD0308E2AD697E16CFAZ/45/_/1680249668/1ea5a92c-9352-4013-a6d1-a7adf9f9347f.jpg);
background-size:cover;
}
.loading_ball._b {
  z-index: 1;
  animation-delay: 1.5s;
}

.loading_ball._c {
  z-index: 1;
  animation-delay: 3s;
}

.loading_ball._d {
  z-index: 1;
  animation-delay: 4.5s;
}

.loading_ball._e {
  z-index: 1;
  animation-delay: 6s;
}

.loading_ball._f {
  z-index: 1;
  animation-delay: 7.5s;
}


@keyframes visible_orbit {

  0% { transform: translate(-4em,0%) scale(0); opacity: 0; }
  25% { transform: translate(-8em,0%); opacity: 1;box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;  }
  50% { transform: translate(12em,0%) scale(1.5); opacity: 1;box-shadow: rgba(240, 238, 238, 0.25) 0px 54px 55px, rgba(240, 238, 238, 0.25) 0px -12px 30px, rgba(240, 238, 238, 0.25) 0px 4px 6px, rgba(240, 238, 238, 0.25) 0px 12px 13px, rgba(240, 238, 238, 0.25) 0px -3px 5px; }
  75% { transform: translate(32em,0%); opacity: 1; box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
  100% { transform: translate(24em,0%) scale(0); opacity: 0; }
}

.pc-new-bundle{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  background: rgba(73, 69, 69, 0.2);;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
  border-radius: 40px;
}

.items{
  display: grid;
  width: fit-content;
  height: fit-content; 
  padding: 15px;
  grid-template-columns: auto auto;
  grid-gap: 7px;
}

.pc-bundle-head{
  color: white;
  font-size: 30px;
  font-family: 'Concert One', cursive;
}

.bundle-item{
  width: 80px;
  height: 80px;
  border-radius: 20px;
} */

/* .bundle-item:first-child{
  background: url(https://f.nooncdn.com/p/v1692599587/N53429237A_1.jpg);
  background-size: cover;
  animation: shuffle1 2s infinite;
}

.bundle-item:last-child{
  background: url(https://f.nooncdn.com/p/pzsku/Z77E5CED9CC200662864BZ/45/_/1685605913/bc1e9bf7-d404-4744-b15c-f97f33fedf53.jpg);
  background-size: cover;
  animation: shuffle4 2s infinite;
}

.bundle-item:nth-child(2){
  background: url(https://f.nooncdn.com/p/v1548738129/N20640432A_1.jpg);
  background-size: cover;
  animation: shuffle2 2s infinite;
}

.bundle-item:nth-child(3){
  background: url(https://f.nooncdn.com/p/v1564134963/N28548686A_1.jpg);
  background-size: cover;
  animation: shuffle3 2s infinite;
}

@keyframes shuffle1{
  0%, 100%{
    transform: translate(0);
  }
  25%{
    transform: translate(87px, 87px);
  }
  50%{
    transform: translate(0, 87px);
  }
  75%{
    transform: translate(87px, 0);
  }
}

@keyframes shuffle2{
  0%, 100%{
    transform: translate(0);
  }
  30%{
    transform: translate(0);
  }
  50%{
    transform: translate(-87px, 0);
  }
  80%{
    transform: translate(-87px, 0);
  }
}

@keyframes shuffle3{
  0%, 100%{
    transform: translate(0);
  }
  30%{
    transform: translate(0);
  }
  50%{
    transform: translate(87px, 0);
  }
  80%{
    transform: translate(87px, 0);
  }
}

@keyframes shuffle4{
  0%, 100%{
    transform: translate(0);
  }
  25%{
    transform: translate(-87px, -87px);
  }
  50%{
    transform: translate(0, -87px);
  }
  75%{
    transform: translate(-87px, 0);
  }
} */

.bundle-item:first-child{
  background: url(https://f.nooncdn.com/p/v1692599587/N53429237A_1.jpg);
  background-size: cover;
  animation: shuffle1 2s infinite;
}

.bundle-item:last-child{
  background: url(https://f.nooncdn.com/p/pzsku/Z77E5CED9CC200662864BZ/45/_/1685605913/bc1e9bf7-d404-4744-b15c-f97f33fedf53.jpg);
  background-size: cover;
  animation: shuffle4 2s infinite;
}

.bundle-item:nth-child(2){
  background: url(https://f.nooncdn.com/p/v1548738129/N20640432A_1.jpg);
  background-size: cover;
  animation: shuffle2 2s infinite;
}

.bundle-item:nth-child(3){
  background: url(https://f.nooncdn.com/p/v1564134963/N28548686A_1.jpg);
  background-size: cover;
  animation: shuffle3 2s infinite;
}

@keyframes shuffle1{
  0%, 100%{
    transform: translate(0);
  }
  25%{
    transform: translate(87px, 87px);
  }
  50%{
    transform: translate(0, 87px);
  }
  75%{
    transform: translate(87px, 0);
  }
}

@keyframes shuffle2{
  0%, 100%{
    transform: translate(0);
  }
  30%{
    transform: translate(0);
  }
  50%{
    transform: translate(-87px, 0);
  }
  80%{
    transform: translate(-87px, 0);
  }
}

@keyframes shuffle3{
  0%, 100%{
    transform: translate(0);
  }
  30%{
    transform: translate(0);
  }
  50%{
    transform: translate(87px, 0);
  }
  80%{
    transform: translate(87px, 0);
  }
}

@keyframes shuffle4{
  0%, 100%{
    transform: translate(0);
  }
  25%{
    transform: translate(-87px, -87px);
  }
  50%{
    transform: translate(0, -87px);
  }
  75%{
    transform: translate(-87px,0);
  }
}

.bulb-bundle{
  width: 60%;
  height: 650px;
  text-align: center;
  padding: 20px 0;
  overflow: hidden;
  background: rgba(73, 69, 69, 0.2);;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
@keyframes circumferential-movement {
	 from {
		 transform: rotateZ(0) translateX(35vmin) rotateZ(0) rotateY(-70deg);
	}
	 to {
		 transform: rotateZ(360deg) translateX(35vmin) rotateZ(-360deg) rotateY(-70deg);
	}
}

 .core {
	 width: 5vmin;
	 height: 5vmin;
	 border-radius: 50%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 position: absolute;
	 background: firebrick;
	 background: radial-gradient(circle at 10px 10px, red, black);
}
 .orbit {
	 width: 70vmin;
	 height: 70vmin;
	 border-radius: 50%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 position: absolute;
	 border: 3px darkgrey solid;
	 transform-style: preserve-3d;
}
 .orbit .electron {
	 width: 8vmin;
	 height: 8vmin;
	 border-radius: 50%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 margin: auto;
	 position: absolute;
	 animation: circumferential-movement linear infinite;
}
.e1{
background:url('https://f.nooncdn.com/p/v1545209450/N19905756A_2.jpg');
	background-size:cover;
}
.e2{
	background: url('https://f.nooncdn.com/p/v1567747839/N29729989A_1.jpg');
	background-size:cover;
}
.e3{
	background:url('https://f.nooncdn.com/p/v1599637454/N13597061A_1.jpg');
	background-size:cover;
}
.e4{
	background:url('https://f.nooncdn.com/p/pzsku/Z48552F4DD11755C5C689Z/45/_/1674114724/3b27dab2-1cb1-4ffd-bff8-3ec1099e8236.jpg');
	background-size:cover;
}
 .orbit:nth-child(1) {
	 transform: rotateZ(30deg) rotateY(70deg);
}
 .orbit:nth-child(1) .electron {
	 animation-duration: 3.6s;
}
 .orbit:nth-child(2) {
	 transform: rotateZ(72deg) rotateY(70deg);
}
 .orbit:nth-child(2) .electron {
	 animation-duration: 3.7s;
}
 .orbit:nth-child(3) {
	 transform: rotateZ(108deg) rotateY(70deg);
}
 .orbit:nth-child(3) .electron {
	 animation-duration: 3.8s;
}
.orbit:nth-child(4) {
  transform: rotateZ(150deg) rotateY(70deg);
}
.orbit:nth-child(4) .electron {
  animation-duration: 3.9s;
}
