@import url('https://fonts.googleapis.com/css?family=Raleway:200');

*{
    box-sizing: border-box;
}

.forget-password{
    width: 100%;
    position: absolute;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Rubik', sans-serif;
}

.forget-password-container{
    font-family: 'Raleway';
    width: 40%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column ;
    gap: 25px;
    align-items: center;
    justify-content: center;
    background: rgba(73, 69, 69, 0.2);;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.forget-password-animation{
    width: 150px;
    height: 150px;
}

.email-input{
width: 60%;
  color: white;
  padding: 12px 12px;
  border-radius: 7px;
  background-color: rgb(67, 66, 66);
}

.email-input::placeholder{
    color: white;
}

.forget-password-head{
    font-size: 35px;
  font-weight: 500;
}
.forget-password-content{
    width: 80%;
    font-size: 17px;
    text-align: center;
}

.forget-password-links-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.forget-password-button{
    width:60%;
  padding: 12px 0px;
  border-radius: 7px;
  color: white;
  font-size: 17px;
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #2da531;
}

.forget-password-button:hover{
    box-shadow: rgba(231, 230, 230, 0.35) 0px 5px 15px;
  }

.forget-password-loginlink{
    text-decoration: none;
    color: white;
    font-size: 13px;
    margin-left: 10px;
}

@media screen and (max-width: 992px) {
    .forget-password-container{
        width: 70%;
    }
  }

  @media screen and (max-width: 992px) {
    .forget-password-container{
        width: 90%;
    }
  }