@import url('https://fonts.googleapis.com/css?family=Raleway:200');
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .header .logo {
    font-family: 'Raleway';
    letter-spacing: 6px;
    margin-left: 50px;
    font-size: 30px;
    font-weight: 800;
    color: #f0f0f0;
  }
  .header-user{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: #5153f1;
    padding: 5px;
    border-radius: 5px;
    gap: 10px;
  }
  
.header-user-img{
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
  .menu {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 40px;
  }
  
  /* Apply the same text color and font-family to menu items and button */
  .menu-item,
  .btn {
    font-size: 18px; /* Increase font size for menu items */
    font-family: 'DM Sans', sans-serif; /* Apply the desired font-family */
    color: #f0f0f0; /* Apply the desired text color */
    font-weight: lighter;
  }
  
  .btn {
    font-size: 18px;
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s linear;
    background-color: #5153f1;
    text-decoration: none;
  }
  
  .btn:hover{
    background-color: #1e147e;
  }