.container{
    width:100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.home-main{
    position: absolute;
}

@media screen and (max-width: 555px){
    .container{
        flex-direction: column-reverse;
    }
  }