@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.signup{
    width: 100%;
    height: 90vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.signup-container{
  color: white;
  width: 80%; 
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.signup-form{
  width: 50%;
  height: 100%;
  padding: 10px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  background: rgba(73, 69, 69, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: form-transition 1s linear;
}

@keyframes form-transition{
  0%{
    transform: translateX(-100px);
    opacity: 0;
  }
  100%{
    transform: translateX(0px);
    opacity: 1;
  }
}

.signup-heading-div{
  width: 100%;
  text-align: center;
}

.signup-heading{
  font-size: 30px;
  font-family: 'Raleway';
  font-weight: 800;
}

.signup-input{
  width: 60%;
  box-sizing: border-box;
  color: white;
  padding: 12px 12px;
  border-radius: 7px;
  background-color: rgb(67, 66, 66);
}

.signup-input::placeholder{
  color:white;
}
.signup-username-div{
  width: 60%;
  display: flex;
}

.signup-password-div{
  width: 100%;
  display: flex;
}

.signup-username-tick{
  margin-right: -25px;
  margin-left: -29px;
  margin-top: 11px;
  cursor: pointer;
}

.signup-eye-button{
  margin-right: -25px;
  margin-left: -29px;
  margin-top: 11px;
  cursor: pointer;
}

.signup-input-password, .signup-input-username{
  width: 100%;
  box-sizing: border-box;
  color: white;
  padding: 12px 12px;
  border-radius: 7px;
  background-color: rgb(67, 66, 66);
}

.signup-input-username::placeholder, .signup-input-password::placeholder{
  color:white;
}

.suggest-password-div{
    box-sizing: border-box;
    width: 60%;
    background-color: white;
    color: black;
    position: absolute;
    top: 67%;
    text-align: justify;
}
.suggest-password-button{
  background-color: #5153f1;
}
.confirm-password-input{
  width: 100%;
  box-sizing: border-box;
  color: white;
  padding: 12px 12px;
  border-radius: 7px;
  background-color: rgb(67, 66, 66);
}

.confirm-password-input::placeholder{
  color:white;
}

.confirm-password-div, .password-div{
  width: 60%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.signup-button{
  width:60%;
  padding: 12px 0px;
  border-radius: 7px;
  color: white;
  font-size: 17px;
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #2da531;
}

.signup-button:hover{
  box-shadow: rgba(231, 230, 230, 0.35) 0px 5px 15px;
}

.signup-button:disabled {
  cursor: not-allowed;
}

.password-match-error{
  font-size: 14px;
  color: red;
  margin-top: 5px;
}

.signup-links{
  text-decoration: none;
  color: #5153f1;
}
.signup-animation{
  width: 40%;
  animation: gif 4s linear;
}

.error-msg{
  color: red;
  font-size: 15px;
}

@keyframes gif{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@media screen and (max-width: 850px){
  .signup-container{
    width: 100%;
  }
}

@media screen and (max-width: 670px){
  .signup-heading{
    font-size: 23px;
  }
  .signup-input{
    width: 90%;
  }
  .signup-password-div{
    width: 90%;
  }
  .signup-username-div{
    width: 90%;
  }
  .signup-button{
    width: 90%;
  }
}

@media screen and (max-width: 670px){
  .signup-animation{
    display: none;
  }
  .signup-form{
    width: 80%;
  }
}
